# Project information
site_name: Gluu Flex Documentation
site_description: Gluu Flex Project Deployment and Operation References
site_author: Gluu, Inc.
site_url: https://docs.gluu.org

# Copyright
copyright: Copyright &copy; 2022, Gluu Flex

# Repository
docs_dir: ./docs
repo_name: GitHub
repo_url: https://github.com/GluuFederation/flex
edit_uri: edit/main/docs/

# Plugins
plugins:
   - tags
   - search
   - git-revision-date-localized:
       type: timeago
       enable_creation_date: true
   - git-committers:
       repository: GluuFederation/flex
       token: !ENV GH_TOKEN
# Configuration
theme:
    name: material
    highlightjs: true
    hljs_languages:
        - yaml
        - java
        - bash
        - python
    shortcuts:
        help: 191    # ?
        next: 78     # n
        previous: 80 # p
        search: 83   # s
    language: 'en'
    font:
        text: Roboto
        code: Roboto Mono
    palette:
        # Palette toggle for automatic mode
        - media: "(prefers-color-scheme)"
          primary: green
          accent: green
          toggle:
            icon: material/brightness-auto
            name: Switch to light mode
        # Palette toggle for light mode
        - media: "(prefers-color-scheme: light)"
          primary: green
          accent: green
          scheme: default
          toggle:
            icon: material/brightness-7
            name: Switch to dark mode
        # Palette toggle for dark mode
        - media: "(prefers-color-scheme: dark)"
          primary: green
          accent: green
          scheme: slate
          toggle:
            icon: material/brightness-4
            name: Switch to system preference
    logo: 'assets/logo/gluu.png'
    favicon: 'assets/logo/favicon.ico'
    features:
        - toc.autohide
          - search.suggest
          - search.highlight
        - navigation.tracking
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.indexes
extra_css:
  - css/tabs.css
  - stylesheets/mermaid-extra.css

# Extensions
markdown_extensions:
- admonition
- attr_list
- toc:
    permalink: '#'
- codehilite
- pymdownx.superfences:
    custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
- pymdownx.tabbed

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/GluuFederation/flex
      name: Gluu Flex on GitHub
    - icon: fontawesome/solid/link
      link: https://gluu.org
      name: Gluu Website
  version:
    provider: mike
    default: stable
# Navigation
nav:
- 'Overview': 'README.md'
- 'Installation':
    - 'install/README.md'
    - 'Helm Deployments':
        - 'install/helm-install/README.md'
        - 'Local Kubernetes Cluster': 'install/helm-install/local.md'
        - 'Amazon EKS': 'install/helm-install/amazon-eks.md'
        - 'Google GKE': 'install/helm-install/google-gke.md'
        - 'Microsoft Azure AKS': 'install/helm-install/microsoft-azure.md'
        - 'Using Rancher Marketplace': 'install/helm-install/rancher.md'
    - 'VM Installation':
        - 'install/vm-install/README.md'
        - 'VM Requirements': 'install/vm-install/vm-requirements.md'
        - 'Ubuntu': 'install/vm-install/ubuntu.md'
        - 'RHEL': 'install/vm-install/rhel.md'
        - 'Suse': 'install/vm-install/suse.md'
- 'Administration':
    - 'admin/README.md'
    - 'Admin UI':
        - 'admin/admin-ui/README.md'
        - 'Admin UI Properties': 'admin/admin-ui/properties.md'
#    - 'SAML':
 #       - 'admin/saml/README.md'
  #      - 'SAML IDP': 'admin/saml/idp.md'
   #     - 'SAML Proxy': 'admin/saml/proxy.md'
    - 'Casa': 'admin/casa/README.md'
- 'Reference":
    - 'reference/kubernetes/README.md'
    - 'Flex Helm Chart': 'reference/kubernetes/helm-chart.md'
    - 'Flex Docker Image': 'reference/kubernetes/docker-flex-monolith.md'
    - 'Admin UI Docker Image': 'reference/kubernetes/docker-admin-ui.md'
    - 'Casa Docker Image': 'reference/kubernetes/docker-casa.md'
#   Use section below to configure documentation structure as per available property and feature-flag documents
#    - 'JSON Configuration':
#      - 'reference/json-config/README.md'
#      - 'Properties':
#          - 'reference/json-config/properties/README.md'
#          - 'Casa': 'reference/json-config/properties/casa-properties.md'
#          - 'Casa Config': 'reference/json-config/properties/casaconfig-properties.md'
