@import url('bootstrap.min.css');
.mainDiv{
    border:1px #00BE79 solid;
}
.header{
    background-color:#00BE79;
}
.header .btn-link{
    color: #fff;
}
.header .btn-link:hover{
    color: #fff;
    text-decoration: none;
}
.header .btn-link:focus{
    color: #fff;
    text-decoration: none;
}
.callout {
	padding-left: 15px;
	border-left: 6px solid #eee;
	background-color: #f1e7bc;
	border-color: #F39C12;
	font-style:italic;
}
.bold{
     font-weight:bold;
}
.form-label{
    /*text-align:right;*/
    padding-top:16px;
    padding-right:0;
}
.italic{
    font-style:italic;
}
.z-messagebox-button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.z-messagebox-button:focus {
    color: #fff;
}
.z-messagebox-button:hover {
    color: #fff;
}
.unactivated{
    opacity: 0.45;
    cursor:not-allowed !important;
}
input[type="radio"], input[type="checkbox"]{
	margin:0px 0px 4px 0px;
}
.z-toolbar a:hover{
	text-decoration:none;
}
.z-toolbar-content span{
	font-size:13px;
	color:#333;
}
.z-errorbox-content{
   font-size:13px;
}
.sidebar {
    background-color:#eee;
    border-style:solid;
    border-width:0 1px 0 0;
    border-color:#ccc;
}
.upload_button {
    padding:10px;
    color:#333;
}
.image_preview {
    border:1px dashed #000;
    background-color:#eee;
}
.color_picker {
    padding:5px;
    height:30px;
    background-color:#fff;
    border: 1px solid #ccc;
}