@import url('common.css');
/* Styles for desktop devices only */
.logo{
    max-width:160px;
}
.s5{
    width: 125px;
}
.s6{
    width: 150px;
}
.s8{
    width: 200px;
}
.s12{
    width:300px;
}
.s16{
    width:400px;
}
.icon_edit{
    width:22px;
    height:22px;
    cursor:pointer;
}
.icon_delete{
    width:24px;
    height:24px;
    cursor:pointer;
}
.couple_icons{
    width: 60px;
}
.dpadded{
    padding-bottom:12px;
}
.padded{
    padding:15px;
}
.z-label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
.z-panel-header{
    font-size: 16px;
}
.btn-link{
    padding: 10px 0px 0px 0px;
}
.z-panel-head{
    padding-left:15px;
}
.de_emphasized{
    font-size: 14px;
    color:#666;
    font-style:italic;
}
.titled{
    font-size: 22px;
}
.dropdown-menu{
    font-size:14px;
}
.dropdown-menu > li > a{
    padding:2px 20px;
}
.summary{
    padding-left:40px;
}
.selectorDiv{
    margin:0 auto;
    width:400px;
    border:1px #00BE79 solid;
}
.z-notification-content{
	font-size:15px;
	min-height:80px;
}
.z-radio-content, .z-checkbox-content{
    font-size: 14px;
    margin-bottom:0px;
    padding-left:8px;
}
.rule-sm{
    margin-top:10px;
    width: 440px;
}
.panel5 {
    margin:0 auto;
    width: 500px;
}
.panel6 {
    margin:0 auto;
    width: 600px;
}
.grid_users{
    width:420px;
}