kubeVersion: ">=v1.23.0-0"
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/images: |
    - name: auth-server
      image: ghcr.io/janssenproject/jans/auth-server:0.0.0-nightly
    - name: auth-server-key-rotation
      image: ghcr.io/janssenproject/jans/cloudtools:0.0.0-nightly
    - name: configuration-manager
      image: ghcr.io/janssenproject/jans/configurator:0.0.0-nightly
    - name:  config-api
      image: ghcr.io/janssenproject/jans/config-api:0.0.0-nightly
    - name: fido2
      image: ghcr.io/janssenproject/jans/fido2:0.0.0-nightly
    - name: persistence
      image: ghcr.io/janssenproject/jans/persistence-loader:0.0.0-nightly
    - name: scim
      image: ghcr.io/janssenproject/jans/scim:0.0.0-nightly
    - name: casa
      image: ghcr.io/janssenproject/jans/casa:0.0.0-nightly
    - name: admin-ui
      image: ghcr.io/gluufederation/flex/admin-ui:0.0.0-nightly
    - name: saml
      image: ghcr.io/janssenproject/jans/saml:0.0.0-nightly
    - name: kc-scheduler
      image: ghcr.io/janssenproject/jans/cloudtools:0.0.0-nightly
  artifacthub.io/license: Apache-2.0
  catalog.cattle.io/certified: partner
  catalog.cattle.io/release-name: gluu
  catalog.cattle.io/display-name: Gluu Cloud Identity and Access Management
apiVersion: v2
appVersion: "0.0.0-nightly"
icon: https://gluu.org/docs/gluu-server/favicon.ico
home: https://www.gluu.org
sources:
  - https://docs.gluu.org
maintainers:
- name: moabu
  email: team@gluu.org
description: Gluu Access and Identity Management
name: gluu
version: 0.0.0-nightly
dependencies:
    - name: config
      condition: global.config.enabled
      version: 0.0.0-nightly

    - name: config-api
      condition: global.config-api.enabled
      version: 0.0.0-nightly

    - name: auth-server
      condition: global.auth-server.enabled
      version: 0.0.0-nightly

    - name: admin-ui
      condition: global.admin-ui.enabled
      version: 0.0.0-nightly

    - name: fido2
      condition: global.fido2.enabled
      version: 0.0.0-nightly

    - name: scim
      condition: global.scim.enabled
      version: 0.0.0-nightly

    - name: nginx-ingress
      condition: global.nginx-ingress.enabled
      version: 0.0.0-nightly

    - name: casa
      version: 0.0.0-nightly
      condition: global.casa.enabled

    - name: auth-server-key-rotation
      condition: global.auth-server-key-rotation.enabled
      version: 0.0.0-nightly

    - name: persistence
      condition: global.persistence.enabled
      version: 0.0.0-nightly

    - name: cn-istio-ingress
      condition: global.istio.ingress
      version: 0.0.0-nightly

    - name: saml
      condition: global.saml.enabled
      version: 0.0.0-nightly

    - name: kc-scheduler
      condition: global.kc-scheduler.enabled
      version: 0.0.0-nightly

    - name: cleanup
      condition: global.cleanup.enabled
      version: 0.0.0-nightly
