@import "./theme-colors";

.layout__content {
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    min-height: 91vh;
}

.txt-white {
    color: #ffffff;
}

.badge {
    padding: 5px 8px;
}

.bg-primary-light {
    background-color: $text-secondary;
    color: #ffffff;
}

.bg-primary-dark {
    background-color: $dark-background;
    color: #ffffff;
}

// Button

.btn-primary-light {
    background-color: $text-secondary !important;
    color: #ffffff !important;
}

.btn-primary-dark {
    background-color: $dark-background !important;
    color: #ffffff !important;
}

// Button outline

.btn-outline-primary-light {
    background-color: $text-secondary !important;
    color: #ffffff !important;
}

.btn-outline-primary-dark {
    background-color: $dark-background !important;
    color: #ffffff !important;
}

// Tooltip

.type-light {
    background-color: $text-secondary !important;
    color: #ffffff !important;
    &::after {
        border-bottom-color: $text-secondary !important;
    }
}

.type-dark {
    background-color: $dark-background !important;
    color: #ffffff !important;
    &::after {
        border-bottom-color: $dark-background !important;
    }
}

.badge-dimmed {
    background-color: #777;
    color: #ffffff;
}

.common-link {
    color: #2767b3;
    text-decoration: "none";
    cursor: pointer;
}

.top-5 {
    position: relative;
    top: 5px;
}

.modal-lg-900 {
    max-width: 900px !important;
}
