.avatar-image {
    width: 45px;
    height: 45px;

    .avatar__content {
        width: 40px;
        height: 40px;
        margin-top: -7px;
    }
}

.navbar-collapse-wrap {
    max-width: none;
}

.page-title {
    color: var(--theme-navbar-text, var(--theme-text-color, #fff));
    position: relative;
    top: 14px;
}

.sidebar-menu__entry--nested.open .sidebar-menu__entry__link::after {
    color: var(--theme-menu-arrow-color, var(--theme-menu-text-color)) !important;
}

.sidebar-menu__entry--nested.active.open .sidebar-menu__entry__link::after {
    color: var(--theme-menu-text-color-active) !important;
}

.sidebar-menu__entry--nested .sidebar-menu__entry__link::after {
    color: var(--theme-menu-arrow-color, var(--theme-menu-text-color)) !important;
}

.sidebar-submenu__entry.active:not(.open) > .sidebar-submenu__entry__link {
    color: var(--theme-menu-text-color-active, var(--theme-menu-text-color, #323b47)) !important;
}

.sidebar-menu {
    height: 87vh;
    overflow-y: scroll;
    margin-bottom: 0;
    margin-top: 0;
}
