.avatar-image {
    width: 45px;
    height: 45px;

    .avatar__content {
        width: 40px;
        height: 40px;
        margin-top: -7px;
    }
}

.navbar-collapse-wrap {
    max-width: none;
}

.page-title {
    color: var(--theme-navbar-text, var(--theme-text-color, var(--custom-white)));
    position: relative;
    top: 14px;
}

.sidebar-submenu__entry.active:not(.open) > .sidebar-submenu__entry__link {
    color: var(--theme-menu-text-color-active, var(--theme-menu-text-color, var(--custom-dark-gray))) !important;
}

.sidebar-menu {
    height: 87vh;
    overflow-y: scroll;
    margin-bottom: 0;
    margin-top: 0;
}
