@import "./theme-colors";

$dark-gray: #323c47;
$accent-red: #b3424a;
$light-blue: #3573a6;
$light-cyan: #bdd4d5;
$light-gray: #eaecf1;
$pale-yellow: #cfd76f;

.custom-sidebar-container {
    background-color: var(--theme-sidebar-background, #fcfcfc);
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;

    .sidebar-menu__entry__link {
        color: var(--theme-menu-text-color, #323b47);
    }

    .sidebar-submenu__entry__link {
        color: var(--theme-menu-text-color, #323b47);
    }

    .sidebar-menu__entry__link:hover {
        color: var(--theme-menu-text-color-hover, #323b47);
    }
    .sidebar-submenu__entry__link:hover {
        color: var(--theme-menu-text-color-hover, #323b47);
    }

    .sidebar-menu__entry:hover {
        i {
            color: var(--theme-menu-icon-color-hover, #323b47);
        }
        a {
            color: var(--theme-menu-text-color-hover, #323b47);
        }
    }

    .sidebar-menu__entry__icon {
        color: var(--theme-menu-icon-color, #323b47);
    }
}

.menu-icon {
    height: 28px;
    width: 28px;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg {
        width: 28px;
        height: 28px;
        display: block;
    }
}

.sidebar-menu__entry {
    .sidebar-menu__entry__link:hover {
        background: lightgrey;
    }

    .sidebar-submenu .sidebar-submenu__entry .sidebar-submenu__entry__link:hover {
        background: lightgrey;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar-menu-active-light {
    background: $text-secondary !important;
    color: #fff !important;
}

.sidebar-menu-active-light:hover {
    background: $primary-dark !important;
    color: #fff !important;
}

.sidebar-menu-active-dark {
    background: $dark-background !important;
    color: #fff !important;
}

.sidebar-menu-active-dark:hover {
    background: $dark-sidebar !important;
    color: #fff !important;
}

.sidebar-active-icon {
    color: #000 !important;
}
