@import "./theme-colors";

.custom-sidebar-container {
    background-color: var(--theme-sidebar-background, #fcfcfc);

    .sidebar-menu__entry__link {
        color: var(--theme-menu-text-color, #323b47);
        font-family: "Mona-Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.32px;
    }

    .sidebar-submenu__entry__link {
        color: var(--theme-menu-text-color, #323b47);
        font-family: "Mona-Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.32px;
    }

    .sidebar-menu__entry__link:hover {
        color: var(--theme-menu-text-color-hover, #323b47);
    }
    .sidebar-submenu__entry__link:hover {
        color: var(--theme-menu-text-color-hover, #323b47);
    }

    .sidebar-menu__entry:hover {
        i {
            color: var(--theme-menu-icon-color-hover, #323b47);
        }
        a {
            color: var(--theme-menu-text-color-hover, #323b47);
        }
    }

    .sidebar-menu__entry__icon {
        color: var(--theme-menu-icon-color, #323b47);
    }
}

.menu-icon {
    height: 28px;
    width: 28px;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg {
        width: 28px;
        height: 28px;
        display: block;
    }
}

.sidebar-menu__entry {
    .sidebar-menu__entry__link:hover {
        background: var(--theme-menu-hover-background, #d3d3d3) !important;
    }

    .sidebar-submenu .sidebar-submenu__entry .sidebar-submenu__entry__link:hover {
        background: var(--theme-menu-hover-background, #d3d3d3) !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar__section:has(.sidebar__brand) {
    border-bottom: 1px solid var(--theme-navbar-border);
}
