@import "./_typography.scss";

@mixin sidebar-entry-typography {
    font-family: $font-family-primary;
    font-size: $font-size-16;
    font-weight: $font-weight-medium;
    letter-spacing: $letter-spacing-032;
}

.custom-sidebar-container {
    background-color: var(--theme-sidebar-background, var(--custom-white-smoke));
    box-shadow: var(--theme-sidebar-shadow, 0px 0px 1rem 0px rgba(var(--custom-black-rgb), 0.15));

    .sidebar-menu {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .sidebar-menu__entry__link {
        color: var(--theme-menu-text-color, var(--custom-dark-gray));
        @include sidebar-entry-typography;
    }

    .sidebar-submenu__entry__link {
        color: var(--theme-menu-text-color, var(--custom-dark-gray));
        @include sidebar-entry-typography;
    }

    .sidebar-menu__entry__link:hover {
        color: var(--theme-menu-text-color-hover, var(--custom-dark-gray));
    }
    .sidebar-submenu__entry__link:hover {
        color: var(--theme-menu-text-color-hover, var(--custom-dark-gray));
    }

    .sidebar-menu__entry__icon {
        color: var(--theme-menu-icon-color, var(--custom-dark-gray));
    }
}

.menu-icon {
    height: 28px;
    width: 28px;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg {
        width: 28px;
        height: 28px;
        display: block;
    }
}

.custom-sidebar-container .sidebar-menu__entry {
    &:not(.open) > .sidebar-submenu {
        pointer-events: none;
    }
    &:not(.open) {
        overflow: hidden;
    }
    &.open > .sidebar-submenu {
        overflow: visible;
    }

    .sidebar-menu__entry__link {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .sidebar-menu__entry__link:hover {
        background: var(--theme-menu-hover-background, var(--custom-sidebar-hover-bg));
    }

    .sidebar-submenu .sidebar-submenu__entry .sidebar-submenu__entry__link:hover {
        background: var(--theme-menu-hover-background, var(--custom-sidebar-hover-bg));
    }
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar__section:has(.sidebar__brand) {
    border-bottom: 1px solid var(--theme-navbar-border, var(--custom-light-border));
    position: relative;
    z-index: 1;
    padding-right: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 106px;
    min-height: 106px;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;
        left: 100%;
        height: 1px;
        background-color: var(--theme-navbar-border, var(--custom-light-border));
        pointer-events: none;
    }
}

.sidebar-menu__entry__link,
.sidebar-submenu__entry__link {
    > span:has(+ .sidebar-menu__entry__chevron),
    > span:has(+ .sidebar-submenu__entry__chevron) {
        flex: 0 1 auto;
    }

    > .sidebar-menu__entry__chevron,
    > .sidebar-submenu__entry__chevron {
        margin-left: 0;
        margin-right: auto;
    }
}
