.mb-20 {
    margin-bottom: 20px;
}

.ms-40 {
    margin-left: 40px !important;
}

.ms-60 {
    margin-left: 60px !important;
}

.me-20 {
    margin-right: 20px !important;
}

.me-40 {
    margin-right: 40px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.px-24 {
    padding: 0px 24px 0px 24px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-100 {
    padding-bottom: 100px;
}

.ms-20 {
    margin-left: 20px;
}

.top-minus-40 {
    position: relative;
    top: -40px;
}

.top-minus-120 {
    position: relative;
    top: -125px;
}
