.mb-20 {
  margin-bottom: 20px;
}

.ml-40 {
  margin-left: 40px!important;
}

.ml-60 {
  margin-left: 60px!important;
}

.mr-20 {
  margin-right: 20px!important;
}

.mr-40 {
  margin-right: 40px!important;
}

.mt-20 {
  margin-top: 20px!important;
}

.mt-40 {
  margin-top: 40px!important;
}

.px-40 {
  padding: 0 24px 0 24px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ml-20 {
  margin-left: 20px;
}

.top-minus-40 {
  position: relative;
  top: -40px;
}

.top-minus-120 {
  position: relative;
  top: -125px;
}
