# build output
dist
trace

# dependencies
node_modules
jans_config_api
jans_config_api_orval
package-lock.json
yarn.lock
plugins_repo


# Editor directories and files
.DS_Store
.project
.jshintrc
.npmignore
.settings/
.vs
.idea/
.env.*
*.local

# ESLint cache
.eslintcache
.vscode/*
!.vscode/extensions.json
configApiSpecs.yaml