openapi: 3.0.3
info:
  title: Jans Config API
  contact:
    name: Contact
    url: 'https://github.com/JanssenProject/jans/discussions'
  license:
    name: License
    url: 'https://github.com/JanssenProject/jans/blob/main/LICENSE'
  version: OAS Version
servers:
  - url: 'https://jans.local.io'
    description: The Jans server
tags:
  - name: Attribute
  - name: Default Authentication Method
  - name: Cache Configuration
  - name: Cache Configuration – Memcached
  - name: Cache Configuration – Redis
  - name: Cache Configuration – in-Memory
  - name: Cache Configuration – Native-Persistence
  - name: Configuration – Properties
  - name: Configuration – SMTP
  - name: Configuration – Logging
  - name: Configuration – JWK - JSON Web Key (JWK)
  - name: Custom Scripts
  - name: Database - LDAP configuration
  - name: OAuth - OpenID Connect - Clients
  - name: OAuth - UMA Resources
  - name: OAuth - Scopes
  - name: Agama - Configuration
  - name: Agama
  - name: Statistics - User
  - name: Health - Check
  - name: Server Stats
  - name: Auth - Session Management
  - name: Organization Configuration
  - name: Auth Server Health - Check
  - name: Plugins
  - name: Configuration – Config API
  - name: Client Authorization
  - name: Jans Assets
  - name: Token
  - name: Fido2 - Configuration
  - name: Fido2 - Registration
  - name: Configuration – User Management
  - name: Admin UI - Role
  - name: Admin UI - Permission
  - name: Admin UI - Role-Permissions Mapping
  - name: Admin UI - License
  - name: Admin UI - Webhooks
  - name: Jans Link - Configuration
  - name: SCIM - Config Management
  - name: SAML - Configuration
  - name: SAML - Trust Relationship
  - name: SAML - Identity Broker
  - name: Keycloak Link - Configuration
  - name: Lock - Configuration
  - name: Lock - Audit
paths:
  /api/v1/health/app-version:
    get:
      tags:
        - Health - Check
      summary: Returns application version
      description: Returns application version
      operationId: get-app-version
      parameters:
        - name: artifact
          in: query
          description: artifact name for which version is requied else ALL
          schema:
            type: string
            default: all
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/app-version.readonly'
  /api/v1/health:
    get:
      tags:
        - Health - Check
      summary: Returns application health status
      description: Returns application health status
      operationId: get-config-health
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HealthStatus'
        '500':
          description: InternalServerError
  /api/v1/health/live:
    get:
      tags:
        - Health - Check
      summary: Returns application liveness status
      description: Returns application liveness status
      operationId: get-config-health-live
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '500':
          description: InternalServerError
  /api/v1/health/ready:
    get:
      tags:
        - Health - Check
      summary: Returns application readiness status
      description: Returns application readiness status
      operationId: get-config-health-ready
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '500':
          description: InternalServerError
  /api/v1/health/server-stat:
    get:
      tags:
        - Health - Check
      summary: Returns application server status
      description: Returns application server status
      operationId: get-server-stat
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsData'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "dbType": "sql",
                        "lastUpdate": "2024-11-01T12:11:01",
                        "facterData": {
                            "memoryfree": "39.7%",
                            "swapfree": "0.0%",
                            "hostname": "pujavs-amazed-rat.gluu.info",
                            "ipaddress": "167.99.13.66",
                            "uptime": "1 day, 3:54",
                            "free_disk_space": "95.4%",
                            "load_average": "0.13623046875"
                        }
                    }
        '500':
          description: InternalServerError
  /api/v1/health/service-status:
    get:
      tags:
        - Health - Check
      summary: Fetch service status
      description: Fetch service status
      operationId: get-service-status
      parameters:
        - name: service
          in: query
          description: Service name to check status
          schema:
            type: string
            default: all
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                      "jans-auth": "Running",
                      "jans-config-api": "Down",
                      "jans-casa": "Not present",
                      "jans-fido2": "Running",
                      "jans-scim": "Running",
                      "jans-link": "Running",
                      "jans-lock": "Running",
                      "keycloak": "Running"
                    }
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/data.readonly'
  /api/v1/acrs:
    get:
      tags:
        - Default Authentication Method
      summary: Gets default authentication method.
      description: Gets default authentication method.
      operationId: get-acrs
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationMethod'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                      "defaultAcr": "basic"
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/acrs.readonly'
            - 'https://jans.io/oauth/config/acrs.write'
            - 'https://jans.io/oauth/config/read-all'
    put:
      tags:
        - Default Authentication Method
      summary: Updates default authentication method.
      description: Updates default authentication method.
      operationId: put-acrs
      requestBody:
        description: String representing patch-document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationMethod'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                    "defaultAcr": "basic"
                  }
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationMethod'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/acrs.write'
            - 'https://jans.io/oauth/config/write-all'
  '/api/v1/agama-deployment/{name}':
    get:
      tags:
        - Agama
      summary: Fetches deployed Agama project based on name.
      description: Fetches deployed Agama project based on name.
      operationId: get-agama-prj-by-name
      parameters:
        - name: name
          in: path
          description: Agama project name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agama project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
              examples:
                Response json example:
                  description: Response json example
                  value: ''
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/agama.readonly'
    post:
      tags:
        - Agama
      summary: Deploy an Agama project.
      description: Deploy an Agama project.
      operationId: post-agama-prj
      parameters:
        - name: name
          in: path
          description: Agama project name
          required: true
          schema:
            type: string
        - name: autoconfigure
          in: query
          description: 'Boolean value to indicating to auto configure the project '
          schema:
            type: string
      requestBody:
        description: Agama gama file
        content:
          application/zip:
            schema:
              type: array
              items:
                type: string
                format: byte
      responses:
        '202':
          description: Agama project accepted
          content:
            application/zip:
              schema:
                type: string
              examples:
                Response json example:
                  description: Response json example
                  value: ''
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/agama.write'
    delete:
      tags:
        - Agama
      summary: Delete a deployed Agama project.
      description: Delete a deployed Agama project.
      operationId: delete-agama-prj
      parameters:
        - name: name
          in: path
          description: Agama project name
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/agama.delete'
  '/api/v1/agama-deployment/configs/{name}':
    get:
      tags:
        - Agama
      summary: Retrieve the list of configs based on name.
      description: Retrieve the list of configs based on name.
      operationId: get-agama-prj-configs
      parameters:
        - name: name
          in: path
          description: Agama project name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agama projects configs
          content:
            application/json:
              schema:
                type: string
              examples:
                Response json example:
                  description: Response json example
                  value: ''
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/agama.readonly'
    put:
      tags:
        - Agama
      summary: Update an Agama project.
      description: Update an Agama project.
      operationId: put-agama-prj
      parameters:
        - name: name
          in: path
          description: Agama project name
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Agama flow config, key is `name` of config property and `value` is the
          property value. 
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
                additionalProperties:
                  type: object
      responses:
        '202':
          description: Agama project accepted
          content:
            application/json:
              schema:
                type: string
              examples:
                Response json example:
                  description: Response json example
                  value: ''
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/agama.write'
  /api/v1/agama-deployment:
    get:
      tags:
        - Agama
      summary: Retrieve the list of projects deployed currently.
      description: Retrieve the list of projects deployed currently.
      operationId: get-agama-prj
      parameters:
        - name: start
          in: query
          description: Start index for the result
          schema:
            type: integer
            format: int32
        - name: count
          in: query
          description: Search size - count of the results to return
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Agama projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response json example:
                  description: Response json example
                  value: ''
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/agama.readonly'
  '/api/v1/agama/syntax-check/{qname}':
    post:
      tags:
        - Agama - Configuration
      summary: Determine if the text passed is valid Agama code
      description: Determine if the text passed is valid Agama code
      operationId: agama-syntax-check
      parameters:
        - name: qname
          in: path
          description: Agama Flow name
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Agama Syntax Check message
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/agama.readonly'
            - 'https://jans.io/oauth/config/agama.write'
            - 'https://jans.io/oauth/config/read-all'
  '/api/v1/jans-assets/{inum}':
    get:
      tags:
        - Jans Assets
      summary: Gets an asset by inum - unique identifier
      description: Gets an asset by inum - unique identifier
      operationId: get-asset-by-inum
      parameters:
        - name: inum
          in: path
          description: Asset Inum
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "dn": "inum=0b436302-b729-4eb2-b211-335980dcab43,ou=document,o=jans",
                        "selected": false,
                        "inum": "0b436302-b729-4eb2-b211-335980dcab43",
                        "displayName": "mermaid-extra.css",
                        "description": "/opt/jans/jetty/jans-config-api/",
                        "document": ".mermaid {\r\n\toverflow: auto;\r\n}\r\n\r\n.mermaid svg {\r\n\twidth: 1315px;\r\n\theight: 600px;\r\n}\r\n",
                        "jansModuleProperty": [
                            "config-api",
                            "jar",
                            "/opt/jans/jetty/jans-config-api/custom/lib"
                        ],
                        "jansLevel": "1",
                        "jansRevision": "2",
                        "jansEnabled": true,
                        "baseDn": "inum=0b436302-b729-4eb2-b211-335980dcab43,ou=document,o=jans"
                    }
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-read'
    delete:
      tags:
        - Jans Assets
      summary: Delete an asset
      description: Delete an asset
      operationId: delete-asset
      parameters:
        - name: inum
          in: path
          description: Asset identifier
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-delete'
  '/api/v1/jans-assets/name/{name}':
    get:
      tags:
        - Jans Assets
      summary: Fetch asset by name
      description: Fetch asset by name.
      operationId: get-asset-by-name
      parameters:
        - name: name
          in: path
          description: Asset Name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPagedResult'
              examples:
                Response example:
                  description: Response example
                  value: ''
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-read'
  /api/v1/jans-assets/asset-dir-mapping:
    get:
      tags:
        - Jans Assets
      summary: Get valid asset types
      description: Get valid asset types
      operationId: get-asset-dir-mapping
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetDirMapping'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-read'
  /api/v1/jans-assets:
    get:
      tags:
        - Jans Assets
      summary: Gets all Jans assets.
      description: Gets all Jans assets.
      operationId: get-all-assets
      parameters:
        - name: limit
          in: query
          description: Search size - max size of the results to return
          schema:
            type: integer
            format: int32
            default: 50
        - name: pattern
          in: query
          description: Search pattern
          schema:
            type: string
            default: ''
        - name: status
          in: query
          description: Status of the attribute
          schema:
            type: string
            default: all
        - name: startIndex
          in: query
          description: The 1-based index of the first query result
          schema:
            type: integer
            format: int32
            default: 0
        - name: sortBy
          in: query
          description: Attribute whose value will be used to order the returned response
          schema:
            type: string
            default: inum
        - name: sortOrder
          in: query
          description: >-
            Order in which the sortBy param is applied. Allowed values are
            "ascending" and "descending"
          schema:
            type: string
            default: ascending
        - name: fieldValuePair
          in: query
          description: Field and value pair for seraching
          schema:
            type: string
            default: ''
          examples:
            Field value example:
              description: Field value example
              value: 'adminCanEdit=true,dataType=string'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPagedResult'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "start": 0,
                        "totalEntriesCount": 2,
                        "entriesCount": 2,
                        "entries": [
                            {
                                "dn": "inum=0b436302-b729-4eb2-b211-335980dcab43,ou=document,o=jans",
                                "selected": false,
                                "inum": "0b436302-b729-4eb2-b211-335980dcab43",
                                "displayName": "mermaid-extra.css",
                                "description": "/opt/jans/jetty/jans-config-api/",
                                "document": ".mermaid {\r\n\toverflow: auto;\r\n}\r\n\r\n.mermaid svg {\r\n\twidth: 1315px;\r\n\theight: 600px;\r\n}\r\n",
                                "jansModuleProperty": [
                                    "config-api",
                                    "jar",
                                    "/opt/jans/jetty/jans-config-api/custom/lib"
                                ],
                                "jansLevel": "1",
                                "jansRevision": "2",
                                "jansEnabled": true,
                                "baseDn": "inum=0b436302-b729-4eb2-b211-335980dcab43,ou=document,o=jans"
                            },
                            {
                                "dn": "inum=9d2f39f5-a910-4a03-a888-6f0f1ee03445,ou=document,o=jans",
                                "selected": false,
                                "inum": "9d2f39f5-a910-4a03-a888-6f0f1ee03445",
                                "displayName": "kc-saml-plugin.jar",
                                "description": "/opt/jans/jetty/jans-config-api/",
                                "creationDate": "2024-03-14T12:53:00",
                                "jansModuleProperty": [
                                    "config-api",
                                    "jar",
                                    "/opt/jans/jetty/jans-config-api/custom/lib"
                                ],
                                "jansEnabled": true,
                                "baseDn": "inum=9d2f39f5-a910-4a03-a888-6f0f1ee03445,ou=document,o=jans"
                            }
                        ]
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-read'
  /api/v1/jans-assets/services:
    get:
      tags:
        - Jans Assets
      summary: Gets asset services
      description: Gets asset services
      operationId: get-asset-services
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-read'
  /api/v1/jans-assets/asset-type:
    get:
      tags:
        - Jans Assets
      summary: Get valid asset types
      description: Get valid asset types
      operationId: get-asset-types
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-read'
  '/api/v1/jans-assets/service/{service-name}':
    post:
      tags:
        - Jans Assets
      summary: Load assets on server for a service
      description: Load assets on server for a service
      operationId: load-service-asset
      parameters:
        - name: service-name
          in: path
          description: Service Name
          required: true
          schema:
            type: string
      requestBody:
        description: String multipart form.
        content:
          multipart/form-data:
            schema:
              type: string
      responses:
        '200':
          description: Asset file loaded
          content:
            application/json:
              schema:
                type: string
              examples:
                Response json example:
                  description: Response json example
                  value: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-write'
  /api/v1/jans-assets/upload:
    put:
      tags:
        - Jans Assets
      summary: Update existing asset
      description: Update existing asset
      operationId: put-asset
      requestBody:
        description: String multipart form.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetForm'
            examples:
              Response json example:
                description: Response json example
                value: "{\n    \"dn\": \"inum=ed901270-c0cd-43cf-a683-10795ff66349,ou=document,o=jans\",\n    \"selected\": false,\n    \"inum\": \"ed901270-c0cd-43cf-a683-10795ff66349\",\n    \"displayName\": \"janssen_dove_icon.png\",\n    \"description\": \"/opt/jans/jetty/jans-auth/custom/static\",\n\t\"jansModuleProperty\": [\n        \"agama\",\n        \"img\",\n        \"/opt/jans/jetty/jans-auth\"\n    ],\n    \"jansLevel\": \"1\",\n    \"jansRevision\": \"2\",\n    \"jansEnabled\": true,\n    \"baseDn\": \"inum=ed901270-c0cd-43cf-a683-10795ff66349,ou=document,o=jans\"\n}\n"
      responses:
        '200':
          description: Modified Asset
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"inum=ed901270-c0cd-43cf-a683-10795ff66349,ou=document,o=jans\",\n    \"selected\": false,\n    \"inum\": \"ed901270-c0cd-43cf-a683-10795ff66349\",\n    \"displayName\": \"janssen_dove_icon.png\",\n    \"description\": \"/opt/jans/jetty/jans-auth/custom/static\",\n\t\"jansModuleProperty\": [\n        \"agama\",\n        \"img\",\n        \"/opt/jans/jetty/jans-auth\"\n    ],\n    \"jansLevel\": \"1\",\n    \"jansRevision\": \"2\",\n    \"jansEnabled\": true,\n    \"baseDn\": \"inum=ed901270-c0cd-43cf-a683-10795ff66349,ou=document,o=jans\"\n}\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-write'
    post:
      tags:
        - Jans Assets
      summary: Upload new asset
      description: Upload new asset
      operationId: post-new-asset
      requestBody:
        description: String multipart form.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetForm'
            examples:
              Response json example:
                description: Response json example
                value: "{\n    \"displayName\": \"kc-saml-plugin.jar\",\n    \"description\": \"Config api pligin\",\n    \"document\":\"\",\n    \"jansModuleProperty\": [\n\t\t\"config-api\",\n\t\t\"jar\",\n\t\t\"/opt/jans/jetty/jans-config-api/custom/lib\"\n\t],\t\n    \"jansLevel\": \"1\",\n    \"jansRevision\": \"1\",\n    \"jansEnabled\": true,\n    \"jansAlias\": \"\"\n}\n"
      responses:
        '201':
          description: Newly created Asset
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"displayName\": \"kc-saml-plugin.jar\",\n    \"description\": \"Config api pligin\",\n    \"document\":\"\",\n    \"jansModuleProperty\": [\n\t\t\"config-api\",\n\t\t\"jar\",\n\t\t\"/opt/jans/jetty/jans-config-api/custom/lib\"\n\t],\t\n    \"jansLevel\": \"1\",\n    \"jansRevision\": \"1\",\n    \"jansEnabled\": true,\n    \"jansAlias\": \"\"\n}\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/jans_asset-write'
  /api/v1/attributes:
    get:
      tags:
        - Attribute
      summary: Gets a list of Jans attributes.
      description: Gets a list of Jans attributes.
      operationId: get-attributes
      parameters:
        - name: limit
          in: query
          description: Search size - max size of the results to return
          schema:
            type: integer
            format: int32
            default: 50
        - name: pattern
          in: query
          description: Search pattern
          schema:
            type: string
            default: ''
        - name: status
          in: query
          description: Status of the attribute
          schema:
            type: string
            default: all
        - name: startIndex
          in: query
          description: The 1-based index of the first query result
          schema:
            type: integer
            format: int32
            default: 0
        - name: sortBy
          in: query
          description: Attribute whose value will be used to order the returned response
          schema:
            type: string
            default: inum
        - name: sortOrder
          in: query
          description: >-
            Order in which the sortBy param is applied. Allowed values are
            "ascending" and "descending"
          schema:
            type: string
            default: ascending
        - name: fieldValuePair
          in: query
          description: Field and value pair for seraching
          schema:
            type: string
            default: ''
          examples:
            Field value example:
              description: Field value example
              value: 'adminCanEdit=true,dataType=string'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "start": 0,
                        "totalEntriesCount": 78,
                        "entriesCount": 2,
                        "entries": [
                            {
                                "dn": "inum=08E2,ou=attributes,o=jans",
                                "selected": false,
                                "inum": "08E2",
                                "name": "departmentNumber",
                                "displayName": "Department",
                                "description": "Organizational Department",
                                "origin": "jansCustomPerson",
                                "dataType": "string",
                                "editType": [
                                    "admin"
                                ],
                                "viewType": [
                                    "user",
                                    "admin"
                                ],
                                "claimName": "department_number",
                                "status": "inactive",
                                "saml1Uri": "urn:mace:dir:attribute-def:departmentNumber",
                                "saml2Uri": "urn:oid:2.16.840.1.113730.3.1.2",
                                "urn": "urn:mace:dir:attribute-def:departmentNumber",
                                "oxMultiValuedAttribute": false,
                                "custom": false,
                                "whitePagesCanView": false,
                                "adminCanEdit": true,
                                "userCanView": true,
                                "userCanEdit": false,
                                "adminCanAccess": true,
                                "adminCanView": true,
                                "userCanAccess": true,
                                "baseDn": "inum=08E2,ou=attributes,o=jans"
                            },
                            {
                                "dn": "inum=0C18,ou=attributes,o=jans",
                                "selected": false,
                                "inum": "0C18",
                                "name": "telephoneNumber",
                                "displayName": "Home Telephone Number",
                                "description": "Home Telephone Number",
                                "origin": "jansCustomPerson",
                                "dataType": "string",
                                "editType": [
                                    "user",
                                    "admin"
                                ],
                                "viewType": [
                                    "user",
                                    "admin"
                                ],
                                "claimName": "phone_number",
                                "status": "inactive",
                                "saml1Uri": "urn:mace:dir:attribute-def:telephoneNumber",
                                "saml2Uri": "urn:oid:2.5.4.20",
                                "urn": "urn:mace:dir:attribute-def:phone_number",
                                "oxMultiValuedAttribute": false,
                                "custom": false,
                                "whitePagesCanView": false,
                                "adminCanEdit": true,
                                "userCanView": true,
                                "userCanEdit": true,
                                "adminCanAccess": true,
                                "adminCanView": true,
                                "userCanAccess": true,
                                "baseDn": "inum=0C18,ou=attributes,o=jans"
                            }
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/attributes.readonly'
    put:
      tags:
        - Attribute
      summary: Updates an existing attribute
      description: Updates an existing attribute
      operationId: put-attributes
      requestBody:
        description: JansAttribute object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JansAttribute'
            examples:
              Request example:
                description: Request example
                value: |
                  {
                      "adminCanAccess": true,
                      "adminCanEdit": true,
                      "adminCanView": true,
                      "custom": false,
                      "dataType": "string",
                      "description": "QAAdded Attribute",
                      "displayName": "QAAdded Attribute",
                      "editType": [
                          "admin",
                          "user"
                      ],
                      "name": "qaattribute",
                      "origin": "jansPerson",
                      "jansMultivaluedAttr": false,
                      "status": "active",
                      "urn": "urn:mace:dir:attribute-def:qaattribute",
                      "userCanAccess": true,
                      "userCanEdit": true,
                      "userCanView": true,
                      "viewType": [
                          "admin",
                          "user"
                      ],
                      "whitePagesCanView": false
                  }
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JansAttribute'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "adminCanAccess": true,
                        "adminCanEdit": true,
                        "adminCanView": true,
                        "custom": false,
                        "dataType": "string",
                        "description": "QAAdded Attribute",
                        "displayName": "QAAdded Attribute",
                        "editType": [
                            "admin",
                            "user"
                        ],
                        "name": "qaattribute",
                        "origin": "jansPerson",
                        "jansMultivaluedAttr": false,
                        "status": "active",
                        "urn": "urn:mace:dir:attribute-def:qaattribute",
                        "userCanAccess": true,
                        "userCanEdit": true,
                        "userCanView": true,
                        "viewType": [
                            "admin",
                            "user"
                        ],
                        "whitePagesCanView": false
                    }
        '401':
          description: Unauthorized
        '406':
          description: NotAcceptable
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/attributes.write'
    post:
      tags:
        - Attribute
      summary: Adds a new attribute
      description: Adds a new attribute
      operationId: post-attributes
      requestBody:
        description: JansAttribute object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JansAttribute'
            examples:
              Request example:
                description: Request example
                value: |
                  {
                      "adminCanAccess": true,
                      "adminCanEdit": true,
                      "adminCanView": true,
                      "custom": false,
                      "dataType": "string",
                      "description": "QAAdded Attribute",
                      "displayName": "QAAdded Attribute",
                      "editType": [
                          "admin",
                          "user"
                      ],
                      "name": "qaattribute",
                      "origin": "jansPerson",
                      "jansMultivaluedAttr": false,
                      "status": "active",
                      "urn": "urn:mace:dir:attribute-def:qaattribute",
                      "userCanAccess": true,
                      "userCanEdit": true,
                      "userCanView": true,
                      "viewType": [
                          "admin",
                          "user"
                      ],
                      "whitePagesCanView": false
                  }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JansAttribute'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "adminCanAccess": true,
                        "adminCanEdit": true,
                        "adminCanView": true,
                        "custom": false,
                        "dataType": "string",
                        "description": "QAAdded Attribute",
                        "displayName": "QAAdded Attribute",
                        "editType": [
                            "admin",
                            "user"
                        ],
                        "name": "qaattribute",
                        "origin": "jansPerson",
                        "jansMultivaluedAttr": false,
                        "status": "active",
                        "urn": "urn:mace:dir:attribute-def:qaattribute",
                        "userCanAccess": true,
                        "userCanEdit": true,
                        "userCanView": true,
                        "viewType": [
                            "admin",
                            "user"
                        ],
                        "whitePagesCanView": false
                    }
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '406':
          description: NotAcceptable
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/attributes.write'
  '/api/v1/attributes/{inum}':
    get:
      tags:
        - Attribute
      summary: Gets an attribute based on inum
      description: Gets an attribute based on inum
      operationId: get-attributes-by-inum
      parameters:
        - name: inum
          in: path
          description: Attribute Id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JansAttribute'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "dn": "inum=08E2,ou=attributes,o=jans",
                        "selected": false,
                        "inum": "08E2",
                        "name": "departmentNumber",
                        "displayName": "Department",
                        "description": "Organizational Department",
                        "origin": "jansCustomPerson",
                        "dataType": "string",
                        "editType": [
                            "admin"
                        ],
                        "viewType": [
                            "user",
                            "admin"
                        ],
                        "claimName": "department_number",
                        "status": "inactive",
                        "saml1Uri": "urn:mace:dir:attribute-def:departmentNumber",
                        "saml2Uri": "urn:oid:2.16.840.1.113730.3.1.2",
                        "urn": "urn:mace:dir:attribute-def:departmentNumber",
                        "oxMultiValuedAttribute": false,
                        "custom": false,
                        "whitePagesCanView": false,
                        "adminCanEdit": true,
                        "userCanView": true,
                        "userCanEdit": false,
                        "adminCanAccess": true,
                        "adminCanView": true,
                        "userCanAccess": true,
                        "baseDn": "inum=08E2,ou=attributes,o=jans"
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/attributes.readonly'
    delete:
      tags:
        - Attribute
      summary: Deletes an attribute based on inum
      description: Deletes an attribute based on inum
      operationId: delete-attributes-by-inum
      parameters:
        - name: inum
          in: path
          description: Attribute Id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/attributes.delete'
    patch:
      tags:
        - Attribute
      summary: Partially modify a JansAttribute
      description: Partially modify a JansAttribute
      operationId: patch-attributes-by-inum
      parameters:
        - name: inum
          in: path
          description: Attribute Id
          required: true
          schema:
            type: string
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequest'
            examples:
              Patch request example:
                description: Patch request example
                value: |
                  [ {op:replace, path: displayName, value: "CustomAttribute" } ]
      responses:
        '200':
          description: Updated JansAttribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JansAttribute'
              examples:
                Response example:
                  description: Response example
                  value: |
                    {
                        "adminCanAccess": true,
                        "adminCanEdit": true,
                        "adminCanView": true,
                        "custom": false,
                        "dataType": "string",
                        "description": "QAAdded Attribute",
                        "displayName": "QAAdded Attribute",
                        "editType": [
                            "admin",
                            "user"
                        ],
                        "name": "qaattribute",
                        "origin": "jansPerson",
                        "jansMultivaluedAttr": false,
                        "status": "active",
                        "urn": "urn:mace:dir:attribute-def:qaattribute",
                        "userCanAccess": true,
                        "userCanEdit": true,
                        "userCanView": true,
                        "viewType": [
                            "admin",
                            "user"
                        ],
                        "whitePagesCanView": false
                    }
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/attributes.write'
  /api/v1/jans-auth-server/config:
    get:
      tags:
        - Configuration – Properties
      summary: Gets all Jans authorization server configuration properties.
      description: Gets all Jans authorization server configuration properties.
      operationId: get-properties
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfiguration'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/jans-auth-server/config/properties.readonly'
    patch:
      tags:
        - Configuration – Properties
      summary: >-
        Partially modifies Jans authorization server Application configuration
        properties.
      description: >-
        Partially modifies Jans authorization server AppConfiguration
        properties.
      operationId: patch-properties
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: >
                  [

                  {"op":"add","path":"/authenticationFilters","value":[{}]},

                  {"op":"replace","path":"/useNestedJwtDuringEncryption","value":"true"},

                  {"op":"add","path":"/loggingLevel","value":"TRACE"}

                  ]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfiguration'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/jans-auth-server/config/properties.write'
  /api/v1/jans-auth-server/config/feature-flags:
    get:
      tags:
        - Configuration – Properties
      summary: Returns feature flags type configured for Jans authorization server.
      description: Returns feature flags type configured for Jans authorization server.
      operationId: get-feature-flag-type
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/jans-auth-server/config/properties.readonly'
  /api/v1/jans-auth-server/config/persistence:
    get:
      tags:
        - Configuration – Properties
      summary: Returns persistence type configured for Jans authorization server.
      description: Returns persistence type configured for Jans authorization server.
      operationId: get-properties-persistence
      responses:
        '200':
          description: Jans Authorization Server persistence type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersistenceConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "persistenceType": "ldap"
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/jans-auth-server/config/properties.readonly'
  /api/v1/config/cache:
    get:
      tags:
        - Cache Configuration
      summary: Returns cache configuration.
      description: Returns cache configuration.
      operationId: get-config-cache
      responses:
        '200':
          description: Cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "cacheProviderType": "NATIVE_PERSISTENCE",
                        "memcachedConfiguration": {
                            "servers": "localhost:11211",
                            "maxOperationQueueLength": 100000,
                            "bufferSize": 32768,
                            "defaultPutExpiration": 60,
                            "connectionFactoryType": "DEFAULT"
                        },
                        "inMemoryConfiguration": {
                            "defaultPutExpiration": 60
                        },
                        "redisConfiguration": {
                            "redisProviderType": "STANDALONE",
                            "servers": "localhost:6379",
                            "defaultPutExpiration": 60,
                            "useSSL": false,
                            "maxIdleConnections": 10,
                            "maxTotalConnections": 500,
                            "connectionTimeout": 3000,
                            "soTimeout": 3000,
                            "maxRetryAttempts": 5
                        },
                        "nativePersistenceConfiguration": {
                            "defaultPutExpiration": 60,
                            "defaultCleanupBatchSize": 10000,
                            "deleteExpiredOnGetRequest": false,
                            "disableAttemptUpdateBeforeInsert": false
                        }
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.readonly'
    patch:
      tags:
        - Cache Configuration
      summary: Patch cache configuration.
      description: Patch cache configuration
      operationId: patch-config-cache
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: >
                  [{ "op": "replace", "path": "/memcachedConfiguration",
                  "value": {
                          "servers": "localhost:11211",
                          "maxOperationQueueLength": 100000,
                          "bufferSize": 32768,
                          "defaultPutExpiration":80,
                          "connectionFactoryType": "DEFAULT"
                      }}] 
      responses:
        '200':
          description: Cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "cacheProviderType": "NATIVE_PERSISTENCE",
                        "memcachedConfiguration": {
                            "servers": "localhost:11211",
                            "maxOperationQueueLength": 100000,
                            "bufferSize": 32768,
                            "defaultPutExpiration": 60,
                            "connectionFactoryType": "DEFAULT"
                        },
                        "inMemoryConfiguration": {
                            "defaultPutExpiration": 60
                        },
                        "redisConfiguration": {
                            "redisProviderType": "STANDALONE",
                            "servers": "localhost:6379",
                            "defaultPutExpiration": 60,
                            "useSSL": false,
                            "maxIdleConnections": 10,
                            "maxTotalConnections": 500,
                            "connectionTimeout": 3000,
                            "soTimeout": 3000,
                            "maxRetryAttempts": 5
                        },
                        "nativePersistenceConfiguration": {
                            "defaultPutExpiration": 60,
                            "defaultCleanupBatchSize": 10000,
                            "deleteExpiredOnGetRequest": false,
                            "disableAttemptUpdateBeforeInsert": false
                        }
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
  /api/v1/config/cache/in-memory:
    get:
      tags:
        - Cache Configuration – in-Memory
      summary: Returns in-Memory cache configuration.
      description: Returns in-Memory cache configuration.
      operationId: get-config-cache-in-memory
      responses:
        '200':
          description: In-Memory configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.readonly'
    put:
      tags:
        - Cache Configuration – in-Memory
      summary: Updates in-Memory cache configuration.
      description: Updates in-Memory cache configuration
      operationId: put-config-cache-in-memory
      requestBody:
        description: inMemoryConfiguration object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InMemoryConfiguration'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                      "defaultPutExpiration": 60
                  }
      responses:
        '200':
          description: In-Memory cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
    patch:
      tags:
        - Cache Configuration – in-Memory
      summary: Patch In-Memory cache configuration.
      description: Patch In-Memory cache configuration
      operationId: patch-config-cache-in-memory
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: >
                  [{ "op": "replace", "path": "/defaultPutExpiration",
                  "value":80}] 
      responses:
        '200':
          description: In-Memory cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMemoryConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
  /api/v1/config/cache/memcached:
    get:
      tags:
        - Cache Configuration – Memcached
      summary: Returns memcached cache configuration.
      description: Returns memcached cache configuration.
      operationId: get-config-cache-memcached
      responses:
        '200':
          description: Memcached configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "servers": "localhost:11211",
                        "maxOperationQueueLength": 100000,
                        "bufferSize": 32768,
                        "defaultPutExpiration": 80,
                        "connectionFactoryType": "DEFAULT"
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.readonly'
    put:
      tags:
        - Cache Configuration – Memcached
      summary: Updates memcached cache configuration.
      description: Updates memcached cache configuration
      operationId: put-config-cache-memcached
      requestBody:
        description: Memcached Configuration object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemcachedConfiguration'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                      "servers": "localhost:11211",
                      "maxOperationQueueLength": 100000,
                      "bufferSize": 32768,
                      "defaultPutExpiration": 80,
                      "connectionFactoryType": "DEFAULT"
                  }
      responses:
        '200':
          description: Native persistence cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "servers": "localhost:11211",
                        "maxOperationQueueLength": 100000,
                        "bufferSize": 32768,
                        "defaultPutExpiration": 80,
                        "connectionFactoryType": "DEFAULT"
                    }
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
    patch:
      tags:
        - Cache Configuration – Memcached
      summary: Patch memcached cache configuration.
      description: Patch memcached cache configuration
      operationId: patch-config-cache-memcached
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: >
                  [{ "op": "replace", "path": "/maxOperationQueueLength",
                  "value":10001}] 
      responses:
        '200':
          description: Memcached cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemcachedConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "servers": "localhost:11211",
                        "maxOperationQueueLength": 100000,
                        "bufferSize": 32768,
                        "defaultPutExpiration": 80,
                        "connectionFactoryType": "DEFAULT"
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
  /api/v1/config/cache/native-persistence:
    get:
      tags:
        - Cache Configuration – Native-Persistence
      summary: Returns native persistence cache configuration.
      description: Returns native persistence cache configuration.
      operationId: get-config-cache-native-persistence
      responses:
        '200':
          description: Native persistence configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60,
                        "defaultCleanupBatchSize": 10000,
                        "deleteExpiredOnGetRequest": false,
                        "disableAttemptUpdateBeforeInsert": false
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.readonly'
    put:
      tags:
        - Cache Configuration – Native-Persistence
      summary: Updates native persistence cache configuration.
      description: Updates native persistence cache configuration
      operationId: put-config-cache-native-persistence
      requestBody:
        description: NativePersistenceConfiguration object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NativePersistenceConfiguration'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                      "defaultPutExpiration": 60,
                      "defaultCleanupBatchSize": 10000,
                      "deleteExpiredOnGetRequest": false,
                      "disableAttemptUpdateBeforeInsert": false
                  }
      responses:
        '200':
          description: Native persistence cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60,
                        "defaultCleanupBatchSize": 10000,
                        "deleteExpiredOnGetRequest": false,
                        "disableAttemptUpdateBeforeInsert": false
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
    patch:
      tags:
        - Cache Configuration – Native-Persistence
      summary: Patch native persistence cache configuration.
      description: Patch native persistence cache configuration
      operationId: patch-config-cache-native-persistence
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: >
                  [{ "op": "replace", "path": "/defaultCleanupBatchSize",
                  "value":10001}] 
      responses:
        '200':
          description: Native persistence cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativePersistenceConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "defaultPutExpiration": 60,
                        "defaultCleanupBatchSize": 10000,
                        "deleteExpiredOnGetRequest": false,
                        "disableAttemptUpdateBeforeInsert": false
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
  /api/v1/config/cache/redis:
    get:
      tags:
        - Cache Configuration – Redis
      summary: Returns Redis cache configuration.
      description: Returns Redis cache configuration
      operationId: get-config-cache-redis
      responses:
        '200':
          description: Redis cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "redisProviderType": "STANDALONE",
                        "servers": "localhost:6379",
                        "defaultPutExpiration": 60,
                        "useSSL": false,
                        "maxIdleConnections": 10,
                        "maxTotalConnections": 500,
                        "connectionTimeout": 3000,
                        "soTimeout": 3000,
                        "maxRetryAttempts": 5
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.readonly'
    put:
      tags:
        - Cache Configuration – Redis
      summary: Updates Redis cache configuration.
      description: Updates Redis cache configuration
      operationId: put-config-cache-redis
      requestBody:
        description: RedisConfiguration object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisConfiguration'
            examples:
              Request json example:
                description: Request json example
                value: |
                  {
                      "redisProviderType": "STANDALONE",
                      "servers": "localhost:6379",
                      "defaultPutExpiration": 60,
                      "useSSL": false,
                      "maxIdleConnections": 10,
                      "maxTotalConnections": 500,
                      "connectionTimeout": 3000,
                      "soTimeout": 3000,
                      "maxRetryAttempts": 5
                  }
      responses:
        '200':
          description: Redis cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "redisProviderType": "STANDALONE",
                        "servers": "localhost:6379",
                        "defaultPutExpiration": 60,
                        "useSSL": false,
                        "maxIdleConnections": 10,
                        "maxTotalConnections": 500,
                        "connectionTimeout": 3000,
                        "soTimeout": 3000,
                        "maxRetryAttempts": 5
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
    patch:
      tags:
        - Cache Configuration – Redis
      summary: Patch Redis cache configuration.
      description: Patch Redis cache configuration
      operationId: patch-config-cache-redis
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: >
                  [{ "op": "replace", "path": "/defaultPutExpiration",
                  "value":80}] 
      responses:
        '200':
          description: Redis cache configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisConfiguration'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "redisProviderType": "STANDALONE",
                        "servers": "localhost:6379",
                        "defaultPutExpiration": 60,
                        "useSSL": false,
                        "maxIdleConnections": 10,
                        "maxTotalConnections": 500,
                        "connectionTimeout": 3000,
                        "soTimeout": 3000,
                        "maxRetryAttempts": 5
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/config/cache.write'
  '/api/v1/clients/authorizations/{userId}/{clientId}/{username}':
    delete:
      tags:
        - Client Authorization
      summary: Revoke client authorization
      description: Revoke client authorizations
      operationId: delete-client-authorization
      parameters:
        - name: userId
          in: path
          description: User identifier
          required: true
          schema:
            type: string
        - name: clientId
          in: path
          description: Client identifier
          required: true
          schema:
            type: string
        - name: username
          in: path
          description: User name
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/client/authorizations.delete'
  '/api/v1/clients/authorizations/{userId}':
    get:
      tags:
        - Client Authorization
      summary: Gets list of client authorization
      description: Gets list of client authorizations
      operationId: get-client-authorization
      parameters:
        - name: userId
          in: path
          description: User identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientAuth'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "DeletableEntity{expirationDate=null, deletable=false} BaseEntry [dn=inum=3000.1e5c4db0-e01e-4e8c-9360-28cb6f0a8026,ou=clients,o=jans]": [
                            {
                                "dn": "inum=10B2,ou=scopes,o=jans",
                                "inum": "10B2",
                                "displayName": "view_username",
                                "id": "user_name",
                                "description": "View your local username in the Janssen Server.",
                                "scopeType": "openid",
                                "claims": [
                                    "inum=42E0,ou=attributes,o=jans"
                                ],
                                "defaultScope": false,
                                "attributes": {
                                    "showInConfigurationEndpoint": true
                                },
                                "creationDate": "2023-03-31T12:03:39",
                                "umaType": false,
                                "baseDn": "inum=10B2,ou=scopes,o=jans"
                            },
                            {
                                "dn": "inum=43F1,ou=scopes,o=jans",
                                "inum": "43F1",
                                "displayName": "view_profile",
                                "id": "profile",
                                "description": "View your basic profile info.",
                                "scopeType": "openid",
                                "claims": [
                                    "inum=2B29,ou=attributes,o=jans",
                                    "inum=0C85,ou=attributes,o=jans",
                                    "inum=B4B0,ou=attributes,o=jans",
                                    "inum=A0E8,ou=attributes,o=jans",
                                    "inum=5EC6,ou=attributes,o=jans",
                                    "inum=B52A,ou=attributes,o=jans",
                                    "inum=64A0,ou=attributes,o=jans",
                                    "inum=EC3A,ou=attributes,o=jans",
                                    "inum=3B47,ou=attributes,o=jans",
                                    "inum=3692,ou=attributes,o=jans",
                                    "inum=98FC,ou=attributes,o=jans",
                                    "inum=A901,ou=attributes,o=jans",
                                    "inum=36D9,ou=attributes,o=jans",
                                    "inum=BE64,ou=attributes,o=jans",
                                    "inum=6493,ou=attributes,o=jans",
                                    "inum=4CF1,ou=attributes,o=jans",
                                    "inum=29DA,ou=attributes,o=jans"
                                ],
                                "defaultScope": false,
                                "attributes": {
                                    "showInConfigurationEndpoint": true
                                },
                                "creationDate": "2023-03-31T12:03:39",
                                "umaType": false,
                                "baseDn": "inum=43F1,ou=scopes,o=jans"
                            },
                            {
                                "dn": "inum=F0C4,ou=scopes,o=jans",
                                "inum": "F0C4",
                                "displayName": "authenticate_openid_connect",
                                "id": "openid",
                                "description": "Authenticate using OpenID Connect.",
                                "scopeType": "openid",
                                "defaultScope": true,
                                "attributes": {
                                    "showInConfigurationEndpoint": true
                                },
                                "creationDate": "2023-03-31T12:03:39",
                                "umaType": false,
                                "baseDn": "inum=F0C4,ou=scopes,o=jans"
                            },
                            {
                                "dn": "inum=341A,ou=scopes,o=jans",
                                "inum": "341A",
                                "displayName": "view_client",
                                "id": "clientinfo",
                                "description": "View the client info.",
                                "scopeType": "openid",
                                "claims": [
                                    "inum=2B29,ou=attributes,o=jans",
                                    "inum=29DA,ou=attributes,o=jans"
                                ],
                                "defaultScope": false,
                                "attributes": {
                                    "showInConfigurationEndpoint": true
                                },
                                "creationDate": "2023-03-31T12:03:39",
                                "umaType": false,
                                "baseDn": "inum=341A,ou=scopes,o=jans"
                            }
                        ]
                    }
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
        - oauth2:
            - 'https://jans.io/oauth/client/authorizations.readonly'
  /api/v1/openid/clients:
    get:
      tags:
        - OAuth - OpenID Connect - Clients
      summary: Gets list of OpenID Connect clients
      description: Gets list of OpenID Connect clients
      operationId: get-oauth-openid-clients
      parameters:
        - name: limit
          in: query
          description: Search size - max size of the results to return
          schema:
            type: integer
            format: int32
            default: 50
        - name: pattern
          in: query
          description: Search pattern
          schema:
            type: string
            default: ''
        - name: startIndex
          in: query
          description: The 1-based index of the first query result
          schema:
            type: integer
            format: int32
            default: 0
        - name: sortBy
          in: query
          description: Attribute whose value will be used to order the returned response
          schema:
            type: string
            default: inum
        - name: sortOrder
          in: query
          description: >-
            Order in which the sortBy param is applied. Allowed values are
            "ascending" and "descending"
          schema:
            type: string
            default: ascending
        - name: fieldValuePair
          in: query
          description: Field and value pair for seraching
          schema:
            type: string
            default: ''
          examples:
            Field value example:
              description: Field value example
              value: 'applicationType=web,persistClientAuthorizations=true'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response json example:
                  description: Response json example
                  value: |
                    {
                        "start": 0,
                        "totalEntriesCount": 8,
                        "entriesCount": 8,
                        "entries": [
                            {
                                "dn": "inum=1201.c091b1aa-4429-454e-8c80-bc11ed9bac0d,ou=clients,o=jans",
                                "clientSecret": "hm7fKhoxVfsR",
                                "frontChannelLogoutSessionRequired": false,
                                "redirectUris": [
                                    "https://pujavs-definite-dory.gluu.info/.well-known/scim-configuration"
                                ],
                                "grantTypes": [
                                    "client_credentials"
                                ],
                                "applicationType": "native",
                                "clientName": "SCIM client",
                                "clientNameLocalized": {},
                                "logoUriLocalized": {},
                                "clientUriLocalized": {},
                                "policyUriLocalized": {},
                                "tosUriLocalized": {},
                                "subjectType": "pairwise",
                                "tokenEndpointAuthMethod": "client_secret_basic",
                                "scopes": [
                                    "inum=1200.485475,ou=scopes,o=jans",
                                    "inum=1200.EE9755,ou=scopes,o=jans",
                                    "inum=1200.57CC3F,ou=scopes,o=jans",
                                    "inum=1200.57EA2A,ou=scopes,o=jans",
                                    "inum=1200.C5C2EF,ou=scopes,o=jans",
                                    "inum=1200.369E7D,ou=scopes,o=jans",
                                    "inum=1200.472E10,ou=scopes,o=jans",
                                    "inum=1200.D8FE2A,ou=scopes,o=jans",
                                    "inum=1200.0F2F42,ou=scopes,o=jans",
                                    "inum=1200.A9B43A,ou=scopes,o=jans"
                                ],
                                "trustedClient": false,
                                "persistClientAuthorizations": false,
                                "includeClaimsInIdToken": false,
                                "customAttributes": [],
                                "customObjectClasses": [
                                    "top"
                                ],
                                "rptAsJwt": false,
                                "accessTokenAsJwt": false,
                                "accessTokenSigningAlg": "RS256",
                                "disabled": false,
                                "attributes": {
                                    "runIntrospectionScriptBeforeJwtCreation": false,
                                    "keepClientAuthorizationAfterExpiration": false,
                                    "allowSpontaneousScopes": false,
                                    "backchannelLogoutSessionRequired": false,
                                    "parLifetime": 600,
                                    "requirePar": false,
                                    "dpopBoundAccessToken": false,
                                    "jansDefaultPromptLogin": false,
                                    "minimumAcrLevel": -1
                                },
                                "displayName": "SCIM client",
                                "allAuthenticationMethods": [
                                    "client_secret_basic"
                                ],
                                "authenticationMethod": "client_secret_basic",
                                "baseDn": "inum=1201.c091b1aa-4429-454e-8c80-bc11ed9bac0d,ou=clients,o=jans",
                                "inum": "1201.c091b1aa-4429-454e-8c80-bc11ed9bac0d"
                            },
                            {
                                "dn": "inum=1800.bc140317-7ee2-42a1-8b9e-c653c9a68927,ou=clients,o=jans",
                                "deletable": false,
                                "clientSecret": "d2U1A5Es6uuE",
                                "frontChannelLogoutSessionRequired": false,
                                "redirectUris": [
                                    "https://pujavs-definite-dory.gluu.info/admin-ui",
                                    "http://localhost:4100"
                                ],
                                "responseTypes": [
                                    "code"
                                ],
                                "grantTypes": [
                                    "authorization_code",
                                    "refresh_token",
                                    "client_credentials"
                                ],
                                "applicationType": "web",
                                "clientName": "Jans Config Api Client",
                                "clientNameLocalized": {},
                                "logoUriLocalized": {},
                                "clientUriLocalized": {},
                                "policyUriLocalized": {},
                                "tosUriLocalized": {},
                                "subjectType": "pairwise",
                                "idTokenSignedResponseAlg": "RS256",
                                "tokenEndpointAuthMethod": "client_secret_basic",
                                "scopes": [
                                    "inum=C4F7,ou=scopes,o=jans",
                                    "inum=1200.485475,ou=scopes,o=jans",
                                    "inum=1200.EE9755,ou=scopes,o=jans",
                                    "inum=1800.01.1,ou=scopes,o=jans",
                                    "inum=1800.01.2,ou=scopes,o=jans",
                                    "inum=1800.03.1,ou=scopes,o=jans",
                                    "inum=1800.03.2,ou=scopes,o=jans",
                                    "inum=1800.01.3,ou=scopes,o=jans",
                                    "inum=1800.01.4,ou=scopes,o=jans",
                                    "inum=1800.01.5,ou=scopes,o=jans",
                                    "inum=1800.03.3,ou=scopes,o=jans",
                                    "inum=1800.01.6,ou=scopes,o=jans",
                                    "inum=1800.01.7,ou=scopes,o=jans",
                                    "inum=1800.01.8,ou=scopes,o=jans",
                                    "inum=1800.02.1,ou=scopes,o=jans",
                                    "inum=1800.01.9,ou=scopes,o=jans",
                                    "inum=1800.02.2,ou=scopes,o=jans",
                                    "inum=1800.01.10,ou=scopes,o=jans",
                                    "inum=1800.02.3,ou=scopes,o=jans",
                                    "inum=1800.01.11,ou=scopes,o=jans",
                                    "inum=1800.01.12,ou=scopes,o=jans",
                                    "inum=1800.01.13,ou=scopes,o=jans",
                                    "inum=1800.01.14,ou=scopes,o=jans",
                                    "inum=1800.01.15,ou=scopes,o=jans",
                                    "inum=1800.01.16,ou=scopes,o=jans",
                                    "inum=1800.01.17,ou=scopes,o=jans",
                                    "inum=1800.01.18,ou=scopes,o=jans",
                                    "inum=1800.01.19,ou=scopes,o=jans",
                                    "inum=1800.01.20,ou=scopes,o=jans",
                                    "inum=1800.01.21,ou=scopes,o=jans",
                                    "inum=1800.01.22,ou=scopes,o=jans",
                                    "inum=1800.01.23,ou=scopes,o=jans",
                                    "inum=1800.01.24,ou=scopes,o=jans",
                                    "inum=1800.01.25,ou=scopes,o=jans",
                                    "inum=1800.01.26,ou=scopes,o=jans",
                                    "inum=1800.01.27,ou=scopes,o=jans",
                                    "inum=1800.01.28,ou=scopes,o=jans",
                                    "inum=1800.01.29,ou=scopes,o=jans",
                                    "inum=1800.01.30,ou=scopes,o=jans",
                                    "inum=1800.01.31,ou=scopes,o=jans",
                                    "inum=1800.01.32,ou=scopes,o=jans",
                                    "inum=1800.01.33,ou=scopes,o=jans",
                                    "inum=1800.02.4,ou=scopes,o=jans",
                                    "inum=1800.02.5,ou=scopes,o=jans",
                                    "inum=1800.01.34,ou=scopes,o=jans",
                                    "inum=1800.02.6,ou=scopes,o=jans",
                                    "inum=1800.01.35,ou=scopes,o=jans",
                                    "inum=1800.01.36,ou=scopes,o=jans",
                                    "inum=1800.01.37,ou=scopes,o=jans",
                                    "inum=1800.01.38,ou=scopes,o=jans",
                                    "inum=1800.01.39,ou=scopes,o=jans",
                                    "inum=1800.01.40,ou=scopes,o=jans",
                                    "inum=1800.01.41,ou=scopes,o=jans",
                                    "inum=1800.01.42,ou=scopes,o=jans",
                                    "inum=1800.01.43,ou=scopes,o=jans",
                                    "inum=1800.01.44,ou=scopes,o=jans",
                                    "inum=1800.01.45,ou=scopes,o=jans",
                                    "inum=1800.01.46,ou=scopes,o=jans",
                                    "inum=1800.01.47,ou=scopes,o=jans",
                                    "inum=1800.04.1,ou=scopes,o=jans",
                                    "inum=1800.04.2,ou=scopes,o=jans",
                                    "inum=1800.04.12,ou=scopes,o=jans",
                                    "inum=1800.04.13,ou=scopes,o=jans",
                                    "inum=1800.04.3,ou=scopes,o=jans",
                                    "inum=1800.04.14,ou=scopes,o=jans",
                                    "inum=1800.04.4,ou=scopes,o=jans",
                                    "inum=1800.04.5,ou=scopes,o=jans",
                                    "inum=1800.04.6,ou=scopes,o=jans",
                                    "inum=1800.04.7,ou=scopes,o=jans",
                                    "inum=1800.04.8,ou=scopes,o=jans",
                                    "inum=1800.04.9,ou=scopes,o=jans",
                                    "inum=1800.04.10,ou=scopes,o=jans",
[...]
