Source: gluu-casa
Section: java
Priority: optional
Maintainer: Davit Nikoghosyan <davit@gluu.org> 
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://www.gluu.org/

Package: gluu-casa
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gluu-server (>= 4.0), gluu-server (< 5.0)
Description: Extensions for gluu-server
 User-facing dashboard for people to manage authentication and authorization data in the Gluu Server
