.dropdown-divider {
    border-top: 1px solid green;
    margin-left: 5%;
    margin-right: 5%;
}
.p-tabview-selected{
    background: green !important;
}
.p-inputtext:enabled:focus{
    border-color: green !important;
    box-shadow: 0 0 0 0.2em green;
    border-color: green;
}
.p-tabview.p-tabview-top .p-tabview-nav li.p-highlight a, body .p-tabview.p-tabview-bottom .p-tabview-nav li.p-highlight a, body .p-tabview.p-tabview-left .p-tabview-nav li.p-highlight a, body .p-tabview.p-tabview-right .p-tabview-nav li.p-highlight a{
    background: green !important;
    background-color: green !important;
    color: white !important;
}
.auth-form .card-body{
    box-shadow: inset 0 4px 0 0 #008000;
}
.modal-title {
    width: 100%;
}