@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins/breakpoints";
@import "variables";

.navbar-toggler.nav-link {
    font-size: $font-size-base;
}

.navbar .navbar-nav.nav-pills .nav-link {
    padding: 0.5rem 1rem;
}

.navbar .nav-link {
    outline: none !important;
}

/**
    Adding this class to the Navbar will allow to
    have a collapsesd menu with additional UNCOLLAPSABLE elements
    after. This will push the collapse container to be the last in the navbar.
*/
.navbar-multi-collapse {
    &.navbar-expand {
        @each $breakpoint in map-keys($grid-breakpoints) {
            $next: breakpoint-next($breakpoint, $grid-breakpoints);
            $infix: breakpoint-infix($next, $grid-breakpoints);

            @if ($infix != "") {
                &#{$infix} {
                    .navbar-collapse {
                        align-self: stretch;
                    }

                    @include media-breakpoint-down($breakpoint) {
                        .navbar-collapse-wrap {
                            display: flex;
                        }
                        .navbar-collapse {
                            order: 999;
                        }
                    }
                }
            }
        }
    }
}

/**
    Nav Pills ===================================
*/
.navbar .nav.nav-pills {
    .dropdown.show > .nav-link {
        color: #fff;
    }
}

.navbar {
    &.navbar-dark .nav.nav-pills .nav-link {
        color: $navbar-dark-color;

        &.active {
            color: #fff;
        }
    }

    &.navbar-light .nav.nav-pills .nav-link {
        color: $navbar-light-color;

        &.active {
            color: #fff;
        }
    }
}

.navbar {
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &.navbar-expand#{$infix} {
            @include media-breakpoint-down($breakpoint) {
                // General
                .nav-pills {
                    // Pills Colors
                    .dropdown-item.active,
                    .nav-link.active {
                        background-color: $nav-pills-link-active-bg;
                        color: $nav-pills-link-active-color;
                        border-radius: $nav-pills-border-radius;
                        box-shadow: none;
                    }

                    // Collapsed Dropdowns restyle
                    .dropdown-item {
                        &,
                        &:hover,
                        &:focus {
                            background: none;
                        }
                    }
                    .dropdown.show > .nav-link {
                        background: none;
                    }
                }

                // Light
                &.navbar-light {
                    .nav-pills {
                        .dropdown.show > .nav-link {
                            color: $navbar-light-hover-color;
                        }
                        .dropdown-item {
                            color: $navbar-light-color;

                            &.active {
                                color: $nav-pills-link-active-color;
                            }
                        }
                    }
                }

                // Dark
                &.navbar-dark {
                    .nav-pills {
                        .dropdown.show > .nav-link {
                            color: $navbar-dark-hover-color;
                        }
                        .dropdown-item {
                            color: $navbar-dark-color;

                            &.active {
                                color: $nav-pills-link-active-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
