@import "./bootstrap/variables";

// Sidebar Styling
// =============================================
$sidebar-default-width: 250px;
$sidebar-slim-width: 60px;
$sidebar-slim-submenu-width: 250px;
$sidebar-background: $white;
$sidebar-overlay-transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
$sidebar-brand-color: $primary;
$sidebar-link-color: $primary;
$sidebar-link-color-hover: $primary;
$sidebar-link-color-muted: $gray-700;

// Sidebar Menu Styling
// =============================================
$sidebar-menu-color: $primary;
$sidebar-menu-highlight-color: $black;

// Default Top Level
@mixin sidebar-menu-item {
    color: $body-color;
}
@mixin sidebar-menu-item--active {
    background-color: transparent;
    color: $sidebar-menu-highlight-color;
}
@mixin sidebar-menu-item--hover {
    @include sidebar-menu-item--active;
}

// Default Submenus
@mixin sidebar-submenu-item {
    @include sidebar-menu-item; // Note: Inherit from top level
}
@mixin sidebar-submenu-item--active {
    @include sidebar-menu-item--active; // Note: Inherit from top level
}
@mixin sidebar-submenu-item--hover {
    @include sidebar-submenu-item--active;
}

// Slim Top Level
@mixin sidebar-slim-menu-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

$sidebar-slim-submenu-bg: $white;
$sidebar-slim-submenu-border: 1px solid $gray-300;
$sidebar-slim-submenu-border-radius: 5px;
$sidebar-slim-submenu-box-shadow: none;

$sidebar-menu-item-padding: (
    top: 0.5rem,
    right: 1.5rem,
    bottom: 0.5rem,
    left: 1.5rem
);
$sidebar-submenu-item-padding: (
    top: 0.5rem,
    right: 1.5rem,
    bottom: 0.5rem,
    left: 2.5rem
);
$sidebar-slim-submenu-item-padding: (
    top: 0.5rem,
    right: 1rem,
    bottom: 0.5rem,
    left: 1.5rem
);
$sidebar-submenu-nested-offset: 1rem;
$sidebar-submenu-nested-font-size: 12px;

// Navbars Styling
// =============================================
$navbar-height: 56px;
$navbar-border-color: $gray-400;
$navbar-background-color: $white;

// All Colors Definitions (Add more colors in further parameters)
$dashboard-colors: map-merge(map-merge($grays, $colors), $theme-colors);
