<!DOCTYPE html>
<% var config = htmlWebpackPlugin || SSRData %>
<!--[if lt IE 7]> <html lang="en" class="ie6" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="ie7" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="ie8" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="ie9" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="" <% if(config.files.manifest) { %>
  manifest="<%= config.files.manifest %>"<% } %>>
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <base href="/">
    <title>AdminUI</title>
    <% if (config.files.favicon) { %>
    <link rel="shortcut icon" href="<%= config.files.favicon%>" />
    <% } %>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui"
    />

    <% for (var css in config.files.css) { %>
    <link href="<%= config.files.css[css] %>" rel="preload" as="style" />
    <link href="<%= config.files.css[css] %>" rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/react-block-ui/1.3.3/style.min.css"
      integrity="sha512-xWWegjvDLeMuBGpiCf9QlX0IdtN8lEBbVD1vd0Rr+zo2b2Lnp7ZP5LL6E873lHBhTBftB6Rk+4+AVLLW0M8nCA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <% } %> <% if (config.options.chunks) { %> <%= config.options.chunks.css %>
    <% } %>

    <style>
      html.theme-dark { --initial-page-bg: #0b2947; }
      html.theme-light { --initial-page-bg: #f6f6f6; }
      html, body { background-color: var(--initial-page-bg, #0b2947); min-height: 100%; margin: 0; }
    </style>
    <script>
      (function() {
        try {
          var theme = localStorage.getItem('initTheme') === 'light' ? 'theme-light' : 'theme-dark';
          document.documentElement.classList.add(theme);
        } catch (e) {}
      })();
    </script>
  </head>
  <body>
    <script src="/admin/env-config.js" defer></script>

    <div id="root"><%= config.innerHtml || '' %></div>

    <% for (var chunk in config.files.chunks) { %>
    <script src="<%= config.files.chunks[chunk].entry %>" defer></script>
    <% } %> <% if (config.options.devServer) { %>
    <script src="<%= config.options.devServer%>/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
