name: testcases

on:
  push:
    branches:
      - master
    paths:
      - "pygluu/**"
      - "tests/**"
      - "setup.py"
  pull_request:
    branches:
      - master
    paths:
      - "pygluu/**"
      - "tests/**"
      - "setup.py"
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install tox
    - name: Test with pytest
      run: |
        tox
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3.0.0
      with:
        file: ./coverage.xml
        files: ./coverage1.xml,./coverage2.xml
        directory: ./coverage/reports/
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true
