name: updatejanshelmchart
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 5'
jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Set up Python 3.7
        uses: actions/setup-python@v2.3.1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo python3 -m pip install --upgrade pip
          sudo pip3 install -r ./automation/requirements.txt
          sudo apt-get update
          sudo apt-get install jq

      - name: analyze chart
        run: |
          sudo bash automation/janssen_helm_chart/prepare_chart.sh

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      # TODO:add step to install and execute helm-docs
      - name: Configure Git
        run: |
          # open branch in jannssen
          git clone https://github.com/JanssenProject/jans
          cd jans
          git checkout -b cn-autoupdate-helm-charts
          mkdir -p charts/janssen || echo "Directories exist"
          cp -r ../charts/janssen/* charts/janssen/
          git config user.name "mo-auto"
          git config user.email "54212639+mo-auto@users.noreply.github.com"
          git config --global user.signingkey "${{ steps.import_gpg.outputs.keyid }}"
          git add -A
          git commit -S -s -m "chore: update helm package"
          # TODO: fix push
          git push --set-upstream origin cn-autoupdate-helm-charts
